<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- jQuery + Underscore + Backbone -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Underscore -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>

<!-- Backbone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>

<!-- BackboneFire -->
<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>

<script src="js/date.format.js"></script>


<style>
	hr {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 0.5em;
		width: 100%;
	}
	
	.nutritionixList {
		-webkit-transition-duration: 1000ms;
		transition-duration: 1000ms;
		position: absolute;

		top: 10%;
		width: 78%;
		left: 50%;
		margin: 0 0 0 -39%;
		background-color: red;
		box-shadow: -15px -15px 53px #888888;
		opacity: 1;
		z-index: 1000;
	}
	.nutritionixList li {
		display: flex;
		flex-wrap: wrap;
	}
	.addFood {
		-webkit-transition-duration: 1000ms;
		transition-duration: 1000ms;
		position: absolute;

		top: 10%;
		width: 78%;
		left: 50%;
		margin: 0 0 0 -39%;
		background-color: red;
		box-shadow: -15px -15px 53px #888888;
		opacity: 1;
		z-index: 1001;
		
		display: flex;
		flex-wrap: wrap;
	}
	
	.d3-graph {
		-webkit-transition-duration: 1000ms;
		transition-duration: 1000ms;
		position: absolute;

		top: 10%;
		width: 98%;
		left: 50%;
		margin: 0 0 0 -49%;
		background-color: red;
		box-shadow: -15px -15px 53px #888888;
		opacity: 1;
		z-index: 1002;
		
		display: flex;
		flex-wrap: wrap;
	}
	
	.addFoodItem {
		width: 100%;
	}
	
	.food-container {
		width: 100%;
		order: 1;
		display: flex;
		flex-box: box;
	}
	.days {
	width: 98%;
		display: flex;
		flex-wrap: wrap;
		flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	}
	.day-container {
		margin: 0.1em;
		width: 60%;
	}
	.day-button {
		width: 100%;
	}
	.Weekday-0 .day-button{
		border: 0.3em solid red;
	}
	.Weekday-1 .day-button{
		border: 0.3em solid orange;
	}
	.Weekday-2 .day-button{
		border: 0.3em solid yellow;
	}
	.Weekday-3 .day-button{
		border: 0.3em solid green;
	}
	.Weekday-4 .day-button{
		border: 0.3em solid blue;
	}
	.Weekday-5 .day-button{
		border: 0.3em solid indigo;
	}
	.Weekday-6 .day-button{
		border: 0.3em solid violet;
	}
	.meals {
		display: none;
		width: 100%;
	}
	
	.meals.expand {
		display: flex;
		flex-wrap: wrap;
	}
	
	.meal-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 1em;
	}
	
	.Weekday-0 .meal-container {
		border: 1px solid red;
	}
	.Weekday-1 .meal-container{
		border: 1px solid orange;
	}
	.Weekday-2 .meal-container{
		border: 1px solid yellow;
	}
	.Weekday-3 .meal-container{
		border: 1px solid green;
	}
	.Weekday-4 .meal-container{
		border: 1px solid blue;
	}
	.Weekday-5 .meal-container{
		border: 1px solid indigo;
	}
	.Weekday-6 .meal-container{
		border: 1px solid violet;
	}
	
	.hide {
		transform: translateY(110%);
		-webkit-transform: translateY(110%);
		display: none;
	}
	
	.searchHeader {
	//position: absolute;
	width: 100%;
	padding: 5em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	}
	
	.searchHeaderItem {
	//position: absolute;
		width:30%;
		text-align: center;
		
		//margin: 0 auto;
	}
	
	.closer{
			float:right;
			margin-top:5px;
			margin-right:5px;
			cursor:pointer;
			color: #fff;
			border: 1px solid #AEAEAE;
			border-radius: 30px;
			background: #605F61;
			font-size: 31px;
			font-weight: bold;
			display: inline-block;
			line-height: 0px;
			padding: 11px 3px;

		}
	/*
	.days {
		display: flex;
		flex-wrap: wrap;
	}
	
	.meals {
		display: flex;
		flex-wrap: wrap;
	}
	.meal-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 1em;
	}
	
	.calorie-total {
		order: 0;
	}*/
</style>
<style>/*stolen from https://css-tricks.com/styling-texty-inputs-only/ */
input {
    border: 5px solid yellow; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,0,0.5);
    margin: 0 0 10px 0;
}
</style>
<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  //width: 960px;
  width: 100%;
  display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

text {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-weight: bold;
  text-anchor: end;
}

form {
  //position: absolute;
  right: 10px;
  top: 10px;
}

.hide-axis {
	display: none;
}

</style>
<style>
	.formTest {
		width: 50%;
		padding: 1em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.foodNameTest {
		text-align: center;
		width: 100%;
	}
	
	.formLabelTest {
		width: 20%;
		font-style: italic;
		padding: 1em;
	}
	
	.formContentTest {
		padding: 1em;
		width: 70%;
	}
	
	.formHalfContentTest {
		padding: 1em;
		width: 30%;
	}
	
	.formButtonTest {
		padding: 1em;
		width: 40%;
	}
	
	.staticContentTest {
		font-weight: bold;
	}
	
	.calories-input:before {
		content: " \2192       ";
	}
	
	.calories-input:after {
		content: " calories";
	}
</style>

<style>
	.nutTestSect {
		width: 50%;
		padding: 1em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.nutTestHeader {
		text-align: center;
		width: 100%;
	}
	
	.nutTestUl {
		width: 100%;
	}
	
	.nutTestLi {
		width: 100%;
		padding: 1em;
		display: flex;
		flex-wrap: wrap;
	}
	
	.nutTestData {
		width: 30%;
	}
</style>

</head>
<body>
	<section id="d3-graph" class="hide d3-graph" style="height: 50%; width: 95%;">
		<div id="graphCloser" class="closer">X</div>
		<!--<form>
			<label><input type="radio" name="mode" value="multiples" checked> Multiples</label>
			<label><input type="radio" name="mode" value="stacked"> Stacked</label>
		</form>-->
	</section>
	<header id="search" class="searchHeader">
		<!--<button id="stack-em">Stack em</button>--><button id="flip-em">Flip em</button>
		<h1 class="searchHeaderItem">I ate...</h1>
		<input id="search-food" class="searchHeaderItem searchInput" placeholder="What did I eat?">
		<button class="searchHeaderItem search-food-button">Search</button>
	</header>
	<hr />
	<section id="nutritionix-list" class="hide nutritionixList"></section>
	
	<section id="addFood" class="addFood hide">
		<h2 class="foodNameTest food-input"><%= food %></h2>
		<label class="formLabelTest">Serving Size</label><div class="formContentTest staticContentTest units-input"><%= units %></div>
		<label class="formLabelTest"># of servings</label><input id="thing1" placeholder="1" class="formHalfContentTest quantity-input"><span class="formHalfContentTest staticContentTest calories-input"><%= calories %></span>
		<label class="formLabelTest">Date</label><input id="thing2" placeholder="20160116" class="formContentTest date-input">
		<label class="formLabelTest">Meal</label><input id="thing3" placeholder="snack" class="formContentTest meal-input">
		<button class="addFoodItem addFood-button formButtonTest">Add Food</button>
	</section>
	
	<section id="days" class="days"></section>
	
	
	
	<section id="meals"></section>
	
	<section id="nutTestSect" class="nutTestSect">
		<h2 class="nutTestHeader">Search Term - Salad</h2>
		<h3 id="dfTest"></h3>
		<ul class="nutTestUl">
			<li class="nutTestLi"><div class="nutTestData">Tossed Salad - 1 salad</div><div class="nutTestData">166.05 calories/serving</div><button class="nutTestData">I ate this</button></li>
			<li class="nutTestLi"><div class="nutTestData">Tossed Salad - 1 serving</div><div class="nutTestData">166.04 calories/serving</div><button class="nutTestData">I ate this</button></li>
			<li class="nutTestLi"><div class="nutTestData">Salad</div><div class="nutTestData">35.00 calories/serving</div><button class="nutTestData">I ate this</button></li>
		</ul>
	</section>
	
	<section id="formTest" class="formTest">
		<h2 class="foodNameTest">Banana</h2>
		<label class="formLabelTest">Serving Size</label><div class="formContentTest staticContentTest">1 medium (7" to 7-7/8" long)</div>
		<label class="formLabelTest"># of servings</label><input id="thing1" placeholder="1" class="formHalfContentTest"><span class="formHalfContentTest staticContentTest">&rarr;&nbsp;&nbsp;387 calories</span>
		<label class="formLabelTest">Date</label><input id="thing2" placeholder="20160116" class="formContentTest">
		<label class="formLabelTest">Meal</label><input id="thing3" placeholder="snack" class="formContentTest">
		<!--<label class="formLabelTest">Calories/serving<div class="formContentTest">200.25 calories per serving</div>-->
		<button class="formButtonTest">Submit</button><button class="formButtonTest">Cancel</button>
	</section>
	
	
	
	<script id="foodTemplate" type="text/template">
		<div><%= date %></div>
		<div><%= meal %></div>
		<div><%= name %></div>
		<div><%= quantity %></div>
		<div><%= units %></div>
		<div><%= calories %></div>
	</script>
	
	<script id="nutritionixFoodTemplate" type="text/template">
		<button class="eatMe">Eat Me</button>
		<div><%= name %></div>
		<div class="nutid"><%= nutritionixId %></div>
		<div><%= quantity %></div>
		<div><%= units %></div>
		<div><%= calories.toFixed(2) %></div>
	</script>
	
	<script>
		var dfTestEl = $('#dfTest');
		var dfTestDate = new Date();
		var dfTestFormat = dateFormat(dfTestDate,'yyyymmdd');
		console.dir(dfTestFormat);
	</script>
	<script>
		//var searchString = '';
		var self = this;
		
		/*from codebeerstartups*/
		var template = function(id){
			return _.template( $('#' + id).html() );
		};
		
		// This is a plain old Backbone Model
		var FoodItem = Backbone.Model.extend({
			
		  defaults: {
			name: 'food',
			meal: 'snack',
			quantity: 1,
			date: 20151211,
			units: 'whole',
			calories: 1
		  }
		});
		
		var NutritionixFoodItem = Backbone.Model.extend({
			defaults: {
				name: '',
				nutritionixId: 0,
				quantity: 0,
				units: 'NA',
				calories: 0
			}
		});
		
		
		var FoodCollection = Backbone.Firebase.Collection.extend({
			model: FoodItem,
			comparator: 'date',
			url: 'https://glaring-torch-4473.firebaseio.com/calorieapp/flat/',
		});
		
		var NutritionixFoodList = Backbone.Collection.extend({
			model: NutritionixFoodItem
		});
	
		var FoodView = Backbone.View.extend({
			tagName: 'div',
			attributes: {
				'class': 'food-container'
			},
			
			template: template('foodTemplate'),
			initialize: function(){
				this.render();
			},

			render: function(){
				this.$el.html( this.template(this.model.toJSON()));
				return this;
			}
		});
		
		//for testing/debugginng
		var FoodCollectionView = Backbone.View.extend({
			tagName: 'div',
			attributes: {
				'class': 'foodList-container'
			},
			
			initialize: function(){
				this.collection.on('add', this.addOne, this);
			},
			
			render: function(){
				this.collection.each(function(food){
					//var foodView = new FoodView({ model: food });
					//this.$el.append(foodView.el); // adding all the person objects.
					this.addOne(food);
				}, this);
				return this;
			},
			
			addOne: function(food) {
				var foodView = new FoodView({ model: food });
				this.$el.append(foodView.el); // adding all the food objects.
			}
		});
		
		
		//MealView will make a meal div and take an array of food models and make food views for each
		//It will listen to collection changes/adds/deletes for meal and day info, update accordingly
		var MealView = Backbone.View.extend({
			tagName: 'div',
			list: [],
			collection: Object,
			date: String,
			meal: String,
			calories: Number,
			attributes: {
				'class': 'meal-container'
			},
			
			initialize: function(params){
				//console.log('params:');
				//console.dir(params);
				this.collection = params.collection;
				this.list = params.list;
				this.date=params.date;
				this.meal=params.meal;
				this.calories=0;
				this.$el.append('<div class="meal-name">'+this.meal+'</div>');
				this.$el.append('<div class="calorie-total">'+this.calories.toFixed(2)+'</div>');
				//console.dir(this.$el.css);
				
				this.collection.on('add', this.conditionalAddOne, this);
			},
			
			render: function(){
				//console.dir(this.list);
				
				this.list.forEach(function(food){
					//var foodView = new FoodView({ model: food });
					//this.$el.append(foodView.el); // adding all the person objects.
					this.addOne(food);
				}, this);
				
				return this;
			},
			
			conditionalAddOne: function(food) {
				//console.log('in conditionalAddOne: '+this.date+' '+this.meal);
				//console.dir(food);
				if(food.get('date') == this.date && food.get('meal') == this.meal) {
					//console.log('adding food to meal');
					this.list.push(food)
					this.addOne(food);
				}
			},
			
			addOne: function(food) {
				//console.log('meal adding food');
				//console.dir(food);
				//console.dir(this.$('.calorie-total'));
				var foodView = new FoodView({ model: food });
				this.$el.append(foodView.el); // adding all the person objects.
				this.calories += +food.get('calories');
				this.$('.calorie-total')[0].innerHTML=this.calories.toFixed(2);
				//this.$el.
			}
		});
		
		//DayView will make a day div and take an array of meals and make a mealview for each
		//It will listen to collection changes/adds/deletes for meal and day info, update accordingly
		var DateView = Backbone.View.extend({
			tagName: 'div',
			day: String,
			date: Date,
			dayOfWeek: Number,
			calories: Number,
			collection: Object,
			attributes: {
				'class': 'day-container'
			},
			initialize: function(params){
				this.collection = params.collection;
				this.day = params.day;
				this.date = new Date(+(this.day.slice(0,4)),+(this.day.slice(4,6))-1,+(this.day.slice(6)));
				this.dayOfWeek = this.date.getDay();
				this.calories = +params.firstCalories;
				//create the button element and the content element, then add a jquery click listener to the button to slideUp or slideDown(), and don't bother with bootstrap
				//use Date.getDay() to give the button a different color based on day of week
				var dayClass = 'Weekday-'+this.dayOfWeek;
				this.$el.addClass(dayClass);
				var b = $('<button type="button" class="day-button" <div>'+this.day+'</div> - <div class="calorie-total">'+this.calories.toFixed(2)+'</div></button>');
				this.$el.append(b);
				//this.$el.append('<button type="button" class="day-button btn btn-block col-xs-12" data-toggle="collapse" data-target="#meals-for-'+this.day+'"><div class="col-xs-3">'+this.day+'</div> - <div class="col-xs-3 calorie-total"'+this.calories+'</div></button>');
				//this.$el.append('<div class="calorie-total">'+this.calories+'</div>');
				var d = $('<div class="meals" id="meals-for-'+this.day+'"></div>');
				this.$el.append(d);
				//d.slideDown();
				b.click(function(){
					//console.dir(this);
					var c = $(this.nextElementSibling);
					if(c.hasClass('expand')) {
						//console.log('clicked a day with in - ' + this.day);
						c.slideUp();
						c.toggleClass('expand');
					}
					else {
						//console.log('clicked a day without in - ' + this.day);
						c.slideDown();
						c.toggleClass('expand');
					}
				});
				this.$el.css({'order':(parseInt(this.day)-20150000) * -1});
				this.collection.on('add', this.conditionalUpdateCalories, this);
				//console.dir(this);
			},
			render: function(){
				return this;
			},
			conditionalUpdateCalories: function(food){
				if(food.get('date') == this.day) {
					this.updateCalories(food);
				}
			
			},
			updateCalories: function(food) {
				this.calories += +food.get('calories');
				this.$('.calorie-total')[0].innerHTML=this.calories.toFixed(2);
				
			}
		});
		
		
		var SearchView = Backbone.View.extend({
			el: '#search',
			searchString: String,
			events: {
				'click .search-food-button': 'search'
			},
			search: function(e) {
				//console.log('searching...');
				//console.dir(e);
				var searchBase = 'https://api.nutritionix.com/v1_1/search/';
				var searchParams = '?results=0:3&fields=item_name,brand_name,item_id,nf_calories&';
				var nAppId = 'f4a802c3';
				var nAppKey = 'bf99750cd2a7430e09cc6922ab659d72';
				searchString = $('#search-food').val().trim();
				//var nc = self.nutController;
				//console.dir(nc);
				var searchUrl = searchBase+searchString+searchParams+'appId='+nAppId+'&appKey='+nAppKey;
				//console.log(searchUrl);
				$('#nutritionix-list').toggleClass('hide');
				$.ajax({
					  // The 'type' property sets the HTTP method.
					  // A value of 'PUT' or 'DELETE' will trigger a preflight request.
					  type: 'GET',

					  // The URL to make the request to.
					  url: searchUrl,

					  // The 'contentType' property sets the 'Content-Type' header.
					  // The JQuery default for this property is
					  // 'application/x-www-form-urlencoded; charset=UTF-8', which does not trigger
					  // a preflight. If you set this value to anything other than
					  // application/x-www-form-urlencoded, multipart/form-data, or text/plain,
					  // you will trigger a preflight request.
					  contentType: 'text/plain',
					  
					  success: function(result) {
						//console.dir(result.hits[0].fields);
						//var item1 = new app.FoodItem({name: 'tortellini',meal: 'Dinner', quantity: 8, units: 'oz', calories: 400, notes: 'I ate dinner'});
						//var nutListView = new NutritionixListView({data: result});
						//console.log('got a result...');
						//console.dir(result);
						self.calorieViewController.buildNutListView({data:result});
						/*
						for (var i=0,l=result.hits.length;i<l;i++) {
							var fields = result.hits[i].fields;
							var item = new app.NutritionixFoodItem({name: fields['item_name'],quantity: fields['nf_serving_size_qty'],units: fields['nf_serving_size_unit'],calories: fields['nf_calories'], nutritionixId: fields['item_id']});
							var view = new app.NutritionixFoodItemView({model: item});
							_this.$el.append(view.render().el);
							//searchResults.push(item)
						}
						
						*/
						//_this.renderSearch()
					  },
					  
					  error: function(e) {
						console.dir(e);
					  }
				});
			}
		});
		
		
		var NutritionixListView = Backbone.View.extend({
			tagName: 'ul',
			collection: Object,
			childViews: [],
			initialize: function(params) {
				this.collection = params.collection;
				//this.render();
			},
			render: function() {
				this.collection.each(function(nutFood){
					//var foodView = new FoodView({ model: food });
					//this.$el.append(foodView.el); // adding all the person objects.
					this.addOne(nutFood);
				}, this);
				return this;
			},
			addOne: function(nutFood) {
				var nutFoodView = new NutritionixFoodView({ model: nutFood });
				this.$el.append(nutFoodView.el); // adding all the food objects.
				this.childViews.push(nutFoodView);
			},
			clearChildren: function() {
				this.childViews.forEach(function(child) {
					child.close();
				});
				this.childViews = [];
			}
		});
		
		var NutritionixFoodView = Backbone.View.extend({
			tagName: 'li',
			events: {
				'click .nutid': 'pickNutritionixItem',
				'click .eatMe': 'pickNutritionixItem'
			},
			template: template('nutritionixFoodTemplate'),
			initialize: function(){
				this.render();
				return this;
			},

			render: function(){
				this.$el.html( this.template(this.model.toJSON()));
				return this;
			},
			pickNutritionixItem: function(){
				self.calorieViewController.populateAddFood(this.model);
				$('#addFood').toggleClass('hide');
			},
			close: function(){
				this.remove();
				this.unbind();
				console.log('closed a nutfoodview');
				//this.model.unbind("change", this.modelChanged);
			}
		});
		
		/*var FoodView = Backbone.View.extend({
			tagName: 'div',
			attributes: {
				'class': 'food-container'
			},
			
			template: template('foodTemplate'),
			initialize: function(){
				this.render();
			},

			render: function(){
				this.$el.html( this.template(this.model.toJSON()));
				return this;
			}
		});
		*/
		
		var AddFoodView = Backbone.View.extend({
			el: '#addFood',  // referencing the form itself.
			
			events: {
				'click .addFood-button': 'submit'  // binding submit click to submit function..
			},
			
			submit: function(e){
				//console.log('submitting addfoodview');
				//console.dir(e);
				//e.preventDefault();  // preventing default submission..
				var name = $('.food-input').html();  // getting new form values..
				var meal = $('.meal-input').val();  // getting new form values..
				var date = $('.date-input').val();  // getting new form values..
				var quantity = $('.quantity-input').val();  // getting new form values..
				var units = $('.units-input').html();  // getting new form values..
				var calories = $('.calories-input').html();  // getting new form values..
				//var person = new App.Models.Person({ name: newPersonName });// creating a new person object..
				var it = {name: name, meal: meal, date: date, quantity: quantity, units: units, calories: +calories};
				console.log('it is: ');
				console.dir(it);
				this.collection.add(it); // adding this to current collection..
				
				calorieViewController.clearNutData();
				$('#addFood').toggleClass('hide');
				$('#nutritionix-list').toggleClass('hide');

			},
			populate: function(nutfood) {
				var d = new Date();
				//var y = String(d.getFullYear());
				//var m = String(d.getMonth()+1);
				//var a = String(d.getDate());
				//var date = y+m+a;
				var date = dateFormat(d,'yyyymmdd');
				//$('.food-input').html('asdfasdfasfd')
				//$('.food-input').val(nutfood.get('name'));
				$('.meal-input').val('snack');
				$('.date-input').val(date);
				$('.quantity-input').val('1');
				//$('.units-input').val(nutfood.get('units'));
				//$('.calories-input').val(nutfood.get('calories'));
				$('.food-input').html(nutfood.get('name'));
				$('.units-input').html(nutfood.get('units'));
				$('.calories-input').html(nutfood.get('calories'));
			
			}
		});
		
		/*
		var NutritionixViewController = function() {
			this.searchView = new SearchView();
			this.addFoodView = new AddFoodView({collection: collection});
			
			this.nutListView = null;
			this.nutritionixCollection = new NutritionixFoodList();
			
		};
		
		NutritionixViewController.prototype.buildNutListView = function(data) {
			console.log('empty nut collection?');
			console.dir(this.nutritionixCollection);
			var result=data.data;
			for (var i=0,l=result.hits.length;i<l;i++) {
				var fields = result.hits[i].fields;
				this.nutritionixCollection.add({name: fields['item_name'],quantity: fields['nf_serving_size_qty'],units: fields['nf_serving_size_unit'],calories: fields['nf_calories'], nutritionixId: fields['item_id']});
				//var item = new app.NutritionixFoodItem({name: fields['item_name'],quantity: fields['nf_serving_size_qty'],units: fields['nf_serving_size_unit'],calories: fields['nf_calories'], nutritionixId: fields['item_id']});
				//var view = new app.NutritionixFoodItemView({model: item});
				//_this.$el.append(view.render().el);
				
			}
			this.nutListView = new NutritionixListView({collection: this.nutritionixCollection});
			console.log('the nut list view');
			console.dir(this.nutListView);
			$('#nutritionix-list').append(this.nutListView.render().el);
		};
		
		NutritionixViewController.prototype.populateAddFood = function(nutfood) {
			console.log('the nutfood to use...');
			console.dir(nutfood);
			this.addFoodView.populate(nutfood);

		};
		*/
		var CalorieViewController = function(){
			var self = this;
			console.log('making calorieviewcontroller');
			console.dir(self);
			self.map = {};
			
			self.collection = new FoodCollection();
			
			self.collection.on('add', function(food){
				var datekey = food.get('date');
				var mealkey = food.get('meal');
				var firstCalories = food.get('calories');
				var dateView = null;
				if(!self.map[datekey]) {
					dateView = new DateView({collection: self.collection, day: datekey, firstCalories: +firstCalories});
					$('#days').append(dateView.render().el);
					self.map[datekey] = {dateView: dateView};
				}
				else {
					dateView = self.map[datekey]['dateView'];
				}
				
				if(!self.map[datekey][mealkey]) {
					var mealView = new MealView({collection: self.collection, list: [food], date: datekey, meal: mealkey});
					//dateView.$el.find('.meals')[0].append(mealView.render().el);
					//console.dir(dateView.$el.find('.meals'));
					var dateEl = dateView.$el.find('.meals');
					$(mealView.render().el).appendTo(dateEl);
					self.map[datekey][mealkey]=mealView;
				}
			});
			
			self.searchView = new SearchView();
			self.addFoodView = new AddFoodView({collection: self.collection});
			
			self.nutListView = null;
			self.nutritionixCollection = new NutritionixFoodList();
		};
		
		CalorieViewController.prototype.buildNutListView = function(data) {
			console.log('empty nut collection?');
			console.dir(this.nutritionixCollection);
			var result=data.data;
			for (var i=0,l=result.hits.length;i<l;i++) {
				var fields = result.hits[i].fields;
				this.nutritionixCollection.add({name: fields['item_name'],quantity: fields['nf_serving_size_qty'],units: fields['nf_serving_size_unit'],calories: fields['nf_calories'], nutritionixId: fields['item_id']});
				//var item = new app.NutritionixFoodItem({name: fields['item_name'],quantity: fields['nf_serving_size_qty'],units: fields['nf_serving_size_unit'],calories: fields['nf_calories'], nutritionixId: fields['item_id']});
				//var view = new app.NutritionixFoodItemView({model: item});
				//_this.$el.append(view.render().el);
				
			}
			this.nutListView = new NutritionixListView({collection: this.nutritionixCollection});
			//console.log('the nut list view');
			//console.dir(this.nutListView);
			$('#nutritionix-list').append(this.nutListView.render().el);
		};
		//calorieViewController.clearNutData();
		CalorieViewController.prototype.clearNutData = function() {
			this.nutritionixCollection.reset();
			this.nutListView.clearChildren();
			this.nutListView.render();
			//console.log(this.nutritionixCollection);
			//need to set the views to listen to reset event and clean themselves up
		};
		
		CalorieViewController.prototype.populateAddFood = function(nutfood) {
			//console.log('the nutfood to use...');
			//console.dir(nutfood);
			this.addFoodView.populate(nutfood);

		};
		
		self.calorieViewController = new CalorieViewController();
		//self.nutController = new NutritionixViewController();
		//var collection = new FoodCollection();
		//collection.on('all', function(event){
			//console.dir(event);
		//});
		
		//var addFoodView = new AddFoodView({collection: collection});
		
		//var foodCollectionView = new FoodCollectionView({ collection: collection });
		//$(document.body).append(foodCollectionView.render().el);
		
		/*
		var groups = collection.groupBy(function(model){return [model.get('date'), model.get('meal')];});
		var l = Object.keys(groups);
		l.forEach(function(f){
			//console.dir(groups[f]);
			var mealView = new MealView({collection: collection, list: groups[f], date: groups[f][0].get('date'), meal: groups[f][0].get('meal')}) 
			$(document.body).append(mealView.render().el);
		});
		*/
	</script>
	<script>
		var buildGroupedData = function() {
			groups = calorieViewController.collection.sortBy('meal');
			console.dir(groups);
			var mlist = [];
			var currentMeal = groups[0].get('meal');
			var currentDate = groups[0].get('date');
			var currentCals = 0;
			
			groups.forEach(function(item,i){
				console.log(currentMeal + ' - '+currentDate);
				if(item.get('meal') == currentMeal && item.get('date') == currentDate) {
					currentCals += parseFloat(item.get('calories'));
				}
				else {
					var mm = {meal: currentMeal, date: currentDate, cals: currentCals};
					console.log('adding a meal: ');
					console.dir(mm);
					mlist.push(mm);
					console.dir(mlist);
					currentMeal = item.get('meal');
					currentDate = item.get('date');
					currentCals = parseFloat(item.get('calories'));
				}
				if(groups.length == i+1) {
					mlist.push({meal: currentMeal, date: currentDate, cals: currentCals});
				}
				console.dir(mlist);
			});
			return mlist;
		};
	</script>
	
	
	<script>
var buildD3 = function(){


//var parseDate = d3.time.format("%Y-%m").parse,
//    formatYear = d3.format("02d"),
    //formatDate = function(d) { return "Q" + ((d.getMonth() / 3 | 0) + 1) + formatYear(d.getFullYear() % 100); };

   // formatDate = function(d) { return String(d.getFullYear()%100)+String(d.getMonth()+1)+String(d.getDate());}

	
	var margin = {top: 10, right: 20, bottom: 20, left: 60},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var y0 = d3.scale.ordinal()
    .rangeRoundBands([height, 0], .2);

var y1 = d3.scale.linear();

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1, 0);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");
    //.tickFormat(formatDate);
	//.tickFormat(function(d) { return String(d.date); });@@@@@@@@@@@remove ; from .orient if put this back in
var yAxis = d3.svg.axis()
	.scale(y)
	.orient('right')
	.ticks(20, '');
	
var nest = d3.nest()
    //.key(function(d) { return d.group; });
	.key(function(d){ return d.meal;});

var stack = d3.layout.stack()
    .values(function(d) { return d.values; })
    .x(function(d) { return d.date; })
    //.y(function(d) { return d.value; })
	.y(function(d) {return d.cals;})
    .out(function(d, y0) { d.valueOffset = y0; });

var color = d3.scale.category10();

//var svg = d3.select("body").append("svg")
var svg = d3.select('#d3-graph').append('svg')
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

//d3.tsv("data.tsv", function(error, data) {
var data = buildGroupedData();
console.log('d3 got data: ');
console.dir(data);
  data.forEach(function(d) {
    //d.date = parseDate(d.date);
    //d.value = +d.value;
	d.cals = +d.cals;
  });

  var dataByGroup = nest.entries(data);
  console.log('dataByGroup:');
  console.dir(dataByGroup);

  stack(dataByGroup);
  x.domain(dataByGroup[0].values.map(function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return parseFloat(d.cals); })]);
  y0.domain(dataByGroup.map(function(d) { return d.key; }));
  //y1.domain([0, d3.max(data, function(d) { return d.value; })]).range([y0.rangeBand(), 0]);
  y1.domain([0, d3.max(data, function(d) {return d.cals;})]).range([y0.rangeBand(), 0]);

  var group = svg.selectAll(".group")
      .data(dataByGroup)
    .enter().append("g")
      .attr("class", "group")
      .attr("transform", function(d) { return "translate(0," + y0(d.key) + ")"; });

  group.append("text")
      .attr("class", "group-label")
      .attr("x", -6)
      //.attr("y", function(d) { return y1(d.values[0].value / 2); })
	  .attr('y', function(d) { return y1(d.values[0].cals / 2); })
      .attr("dy", ".35em")
      //.text(function(d) { return "Group " + d.key; });
	  .text(function(d) {return d.key;});

  group.selectAll("rect")
      .data(function(d) { return d.values; })
    .enter().append("rect")
      //.style("fill", function(d) { return color(d.group); })
	  .style('fill', function(d) { return color(d.meal); })
      .attr("x", function(d) { return x(d.date); })
      //.attr("y", function(d) { return y1(d.value); })
	  .attr('y', function(d) { return y1(d.cals); })
      .attr("width", x.rangeBand())
      //.attr("height", function(d) { return y0.rangeBand() - y1(d.value); });@@@@@@@@@@@@@@@@different
	  .attr('height', function(d) {return y0.rangeBand() - y1(d.cals); });

  group.filter(function(d, i) { return !i; }).append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + y0.rangeBand() + ")")
      .call(xAxis);
  
  group.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  d3.selectAll("input").on("change", change);

//  var timeout = setTimeout(function() {
//    d3.select("input[value=\"stacked\"]").property("checked", true).each(change);
//  }, 2000);

  function change() {
    //clearTimeout(timeout);
    if (this.value === "multiples") transitionMultiples();
    else transitionStacked();
  }

  function transitionMultiples() {
    var t = svg.transition().duration(750),
        g = t.selectAll(".group").attr("transform", function(d) { return "translate(0," + y0(d.key) + ")"; });
    //g.selectAll("rect").attr("y", function(d) { return y1(d.value); });
	g.selectAll('rect').attr('y', function(d) { return y1(d.cals); });
    //g.select(".group-label").attr("y", function(d) { return y1(d.values[0].value / 2); })
	g.select('.group-label').attr('y', function(d) { return y1(d.values[0].cals / 2); })
  }

  function transitionStacked() {
    var t = svg.transition().duration(750),
        g = t.selectAll(".group").attr("transform", "translate(0," + y0(y0.domain()[0]) + ")");
    //g.selectAll("rect").attr("y", function(d) { return y1(d.value + d.valueOffset); });
	g.selectAll("rect").attr("y", function(d) { return y1(d.cals + d.valueOffset); });
    //g.select(".group-label").attr("y", function(d) { return y1(d.values[0].value / 2 + d.values[0].valueOffset); })
	g.select(".group-label").attr("y", function(d) { return y1(d.values[0].cals / 2 + d.values[0].valueOffset); })
  }
};
//}
</script>
<script>
function justStacked() {

	var margin = {top: 20, right: 50, bottom: 30, left: 20},
		width = 960 - margin.left - margin.right,
		height = 500 - margin.top - margin.bottom;
	
	var x = d3.scale.ordinal()
		.rangeRoundBands([0, width]);
	var y = d3.scale.linear()
		.rangeRound([height, 0]);
	var z = d3.scale.category10();//color for meals
	
	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("bottom");
	
	var yAxis = d3.svg.axis()
		.scale(y)
		.orient("right");

	var svg = d3.select('#d3-graph').append('svg')
		.attr('width', width + margin.left + margin.right)
		.attr('height', height + margin.top + margin.bottom)
	.append('g')
		.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
	
	
	var data = buildGroupedData();
	data.forEach(function(d) {
		d.x = d.date;
		d.y = +d.cals;
		d.y0 = 0;
	});
	
	var mealGroups = d3.nest()
		.key(function(d){return d.meal;})
		.entries(data);
	console.log(mealGroups);
	
	
	var stack = d3.layout.stack();
		//.out(function(d, y0) { d.valueOffset = y0; });
	
	stack.values(function(d,i){
		d.mealMax = d3.max(d.values,function(k){return k.y;});
		//if(i===0){d.mealMax = 0;}
		//else {d.mealMax = }
		return d.values;
	});
	//in here, d is a mealgroup
	var mealLayers = stack(mealGroups);
	
	//.values(function(d) {
		//console.log(d.values);
		//return d.values;
	//});
	console.log(mealLayers);
	//var mealLayers = stack(mealGroups);
		//.x(function(d){return d.date;})
		//.y(function(d){return +d.cals;});
	//console.log(mealLayers);
		//.x(function(d){return d.date;})
		//.y(function(d){return +d.cals;});
		
	//console.dir(mealLayers);
	x.domain(mealLayers[0].values.map(function(d) { return d.x; }));
	//y.domain should be 0 to maximum of all y0+y values, so can look only at he last meallayer
	y.domain([0,d3.max(mealLayers[mealLayers.length - 1].values, function(d){return d.y0+d.y})]).nice();
	//y.domain([0, d3.max(mealLayers[0].values[mealLayers.length - 1], function(d) { return d.y0 + d.y; })]).nice();
	console.dir(x.domain());
	console.dir(y.domain());
	
	
	
	var layer = svg.selectAll(".layer")
			.data(mealLayers)
		.enter().append("g")
			.attr("class", "layer")
			.style("fill", function(d, i) { return z(i); });

	layer.selectAll("rect")
			.data(function(d) { return d.values; })
		.enter().append("rect")
			.attr("x", function(d) { return x(d.x); })
			.attr("y", function(d) { return y(d.y + d.y0); })
			.attr("height", function(d) { return y(d.y0) - y(d.y + d.y0); })
			.attr("width", x.rangeBand() - 1);
			

	svg.append("g")
		.attr("class", "axis axis--x")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis);

	svg.append("g")
		.attr("class", "axis axis--y")
		.attr("transform", "translate(" + width + ",0)")
		.call(yAxis);

	function trans() {
		var t = svg.transition().duration(750),
        //g = t.selectAll(".layer").attr("transform", function(d) { return "translate(0," + d.mealMax + ")"; });
		currentBase = 0,
		gs = t.selectAll('.layer');
		gs[0].forEach(function(g,i){
			var dg = d3.select(g);
			var rs = dg.selectAll('rect');
			//console.log(rs);
			var mm = 0;
			if(i!=0) {
				var ng = d3.select(gs[0][i-1]);
				mm = ng[0][0].__data__.mealMax;
				currentBase += mm;
			}
			//var mm = dg[0][0].__data__.mealMax;
			console.dir(currentBase);
			rs[0].forEach(function(r) {
				var dr = d3.select(r);
				console.log(dr);
				//d3.select(r).attr('y',dr.__data__.y(currentBase));
			});
		})
		//console.log(g);
			//.selectAll('rect')
			//.attr('y',function(d) {return d.mealMax;});
	}
	
	
};


</script>
<script>
function stackedSolo() {
	var margin = {top: 20, right: 50, bottom: 30, left: 20},
	width = 960 - margin.left - margin.right,
	height = 500 - margin.top - margin.bottom;
	
	var x = d3.scale.ordinal()
		.rangeRoundBands([0, width]);
	var y = d3.scale.linear()
		.rangeRound([height, 0]);
	var z = d3.scale.category10();//color for meals
	
	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("bottom");
	
	var yAxis = d3.svg.axis()
		.scale(y)
		.orient("right");

	var svg = d3.select('#d3-graph').append('svg')
		.attr('width', width + margin.left + margin.right)
		.attr('height', height + margin.top + margin.bottom)
	.append('g')
		.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
	
	
	var data = buildGroupedData();
	
	var dayDomain = [];
	
	var mealNest = d3.nest()
					.key(function(d){ return d.meal;})
					.rollup(function(v){ 
						return buildDayDomain(v,dayDomain);
					})
					/*.rollup(function(v) { return {
						values: buildDayDomain(v,dayDomain),
						max: d3.max(v, function(d){ return +d.cals}),
						mean: d3.mean(v, function(d){ return +d.cals})
					};})*/
					.entries(data);
	//console.log(mealNest);
	console.log(dayDomain);
	
	function buildDayDomain(values,dd) {
		//var dd = dayDomain;
		values.forEach(function(vv) {
			vv.x=vv.date;
			vv.y = +vv.cals;
			if(dd.indexOf(String(vv.date))<0) {
				dd.push(String(vv.date));
			}
		});
		//var mean = d3.mean(values, function(d){return +d.cals;});
		//var max = d3.max(values, function(d){return +d.cals;});
		//values.mean=mean;
		//values.max=max;
		//dayDomain = dd;
		return values;
	}
	
	function reconcileArray(array, domain, key, val, deft) {
		var arrayToReturn = [];
		var currentIndex = 0;
		domain.forEach(function(item) {
			if(array.length >= currentIndex+1 && array[currentIndex][key]==item) {
				arrayToReturn.push(array[currentIndex]);
				currentIndex++;
			}
			else {
				var obj = new Object();
				obj[key] = item;
				obj[val] = deft;
				arrayToReturn.push(obj);
			}
		});
		
		return arrayToReturn;
	}
	mealNest.forEach(function(meal) {
		meal.values = reconcileArray(meal.values,dayDomain,'x','y',0);
	});
	console.log(mealNest);
	/*var thearray = [{date:1,cals:'122'},{date:12,cals:'1234'},{date:15,cals:'asdf'}];
	var  thedomain = [1,2,12,13,15];
	console.log('reconciling array...');
	console.log(thearray);
	console.log(thedomain);
	console.log(reconcileArray(thearray,thedomain,'date','cals',0));*/
	
	var mealStack = d3.layout.stack()
					.values(function(d){
						return d.values;
					})(mealNest);
					//.values(function(d){return [{x:'20151210',y:10},{x:'20151211',y:15},{x:'20151212',y:20},{x:'20151213',y:10}]})
					//.x(function(d){ return String(d.date); })
					//.y(function(d){ return +d.cals; })(mealNest);
	console.log(mealStack);
	
	x.domain(dayDomain);
	//y.domain should be 0 to maximum of all y0+y values, so can look only at he last meallayer
	y.domain([0,d3.max(mealStack[mealStack.length - 1].values, function(d){return d.y0+d.y})]).nice();
	
	console.log(x.domain());
	console.log(y.domain());
	
	var layer = svg.selectAll(".layer")
			.data(mealStack)
		.enter().append("g")
			.attr("class", "layer")
			.style("fill", function(d, i) { return z(i); });

	layer.selectAll("rect")
			.data(function(d) { return d.values; })
		.enter().append("rect")
			.attr("x", function(d) { return x(d.x); })
			.attr("y", function(d) { return y(d.y + d.y0); })
			.attr("height", function(d) { return y(d.y0) - y(d.y + d.y0); })
			.attr("width", x.rangeBand() - 1);
			

	svg.append("g")
		.attr("class", "axis axis--x")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis);

	svg.append("g")
		.attr("class", "axis axis--y")
		.attr("transform", "translate(" + width + ",0)")
		.call(yAxis);
		
		
}

$('#stack-em').click(function(){
	stackedSolo();
});
</script>
<script>
function doDimple() {
	//var svg = dimple.newSvg("#d3-graph", 800, 600);
	var svg = dimple.newSvg("#d3-graph","100%","100%");
	var data = calorieViewController.collection.toJSON();
	//data.sort(function(a, b){ return d3.ascending(+(a.date), +(b.date)); });
	console.log(data);
    //var data = [
     // { "Word":"Hello", "Awesomeness":2000 },
     // { "Word":"World", "Awesomeness":3000 }
    //];
    var chart = new dimple.chart(svg, data);
	chart.setMargins("60px", "30px", "110px", "70px");
    var c = chart.addCategoryAxis("x", "date");
	c.addOrderRule("date",true);
    chart.addMeasureAxis("y", "calories");
    var s = chart.addSeries("meal", dimple.plot.bar);
	//s.addOrderRule("date");
	//chart.addLegend(200, 10, 380, 20, "right");
	chart.addLegend("-100px", "30px", "100px", "-70px");
    chart.draw();
	
	 window.onresize = function () {
                // As of 1.1.0 the second parameter here allows you to draw
                // without reprocessing data.  This saves a lot on performance
                // when you know the data won't have changed.
                chart.draw(0, true);
            };
}
$('#flip-em').click(function(){
		$('#d3-graph').toggleClass('hide');
		doDimple();
	});
	
	$('#graphCloser').click(function(){
		$('#d3-graph').toggleClass('hide');
		$('svg').remove();
		//doDimple();
	});
</script>
</body>
</html>